*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system,
   BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
   Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --topBottomColor: #f2f200;
  --topBottomTextColor: black;
  --mainColor: black;
  --mainTextColor: white;
  background-color: var(--mainColor);
  color: var(--mainTextColor);
}
body::-webkit-scrollbar{
  width: 0px;
}
header{
  display: block;
  position: fixed;
  width: 100%;
  margin-top: -10vh;
  backdrop-filter: blur(20px);
}
nav{
  background-color: var(--topBottomColor);
  height: 13vh;
  width: 100%;
}
.myLogo{
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
.checkbtn{
  font-size: 30px;
  color: var(--mainColor);
  float: right;
  line-height: 70px;
  margin-left: 0px;
  cursor: pointer;
  display: block;
  margin-right: 20px;
}
ul{
  position: fixed;
  width: 100%;
  width: 100vh;
  height: 100vh;
  color: var(--mainColor);
  background-color: var(--topBottomColor);
  top: 10vh;
  right: -100%;
  text-align: center;
  transition: all .5s;
  backdrop-filter: blur(20px);
}
nav ul li{
  display: block;
  cursor: pointer;
  padding: 30px 0;
  font-weight: 500;
  justify-content: space-around;
}
nav ul li a{
  text-decoration: none;
  color: var(--mainColor);
}
li a:hover{
  background: var(--mainColor);
  color: var(--mainTextColor);
  padding: 20px 30%;
  transition: ease .5s;
}
#check{
  display:none;
}
#check:checked ~ ul{
  right: 0;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #303000;
}

.progress-bar {
  height: 8px;
  background: var(--topBottomColor);
  width: 0%;
}
.inicio{
  display: flex;
  margin: 2vw;
  margin-top: 10vh;
  justify-content: space-around;
  align-items: center;
}
.img1{
  width: 400px; height: 400px;
  margin-left: 3vw; margin-top: 10vh;
}
.txtInicio{
  display: flex; flex-direction: column;
  margin-left: 10vw;
  margin-right: 5vw;
  margin-top: 10vh;
  gap: 20px;
  text-align: justify;
  align-self: center;
}
.orientadores{
  margin-top: 30vh;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  font-style: oblique;
  text-transform: uppercase;
  color: var(--topBottomColor);
}
.imgOrien{
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
.picsOrien{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 3px solid white;
}
.descricao-imgOrien{
  display: flex; flex-direction: column;
  gap: 5vh;
  justify-content: center;
  color: var(--mainTextColor);
}
.linguagem-prog{
  display: flex;flex-direction: column;
  margin-top: 30vh;
}
.title-linguagem-prog{
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  font-style: oblique;
  text-transform: uppercase;
  color: var(--topBottomColor);
}
.linguagem-prog-pics{
  display: flex;
  justify-content: space-around;
}
.elements-prog-pics{
  width: 200px;height: 200px;
  margin-top: 10vh;
}
.linguagem{
  margin-top: 5vh;
  padding: 40px;
  display: grid;
  grid-template-columns: 45vw 45vw;
  gap: 40px;
}
.linguagem div{
  padding: 20px;
  height: 500px;
}
.html-css{
  display: flex; flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}
.text-html-gifs{
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 500;
  font-style: oblique;
}
.html-gifs{
  display: flex; flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.curricullum-gif, .html-gif{
  height: 150px; width: 300px;
}
.title-html{
  display: flex;
  justify-content: center;
  color: var(--topBottomColor);
}
b{
  color: var(--topBottomColor);
}
.js-logic{
  display: flex; flex-direction: column;
  text-align: justify;
  justify-content: space-around;
}
.title-js-logic{
  display: flex;
  justify-content: center;
  color: var(--topBottomColor);
}
.js-logic-gifs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scripts-img{
  width: 500px;
}
.java-poo{
  display: flex; flex-direction: column;
  text-align: justify;
  justify-content: space-around;
}
.java-poo-gifs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.java-gif{
  width: 500px;
}
.title-java-poo{
  display: flex;
  justify-content: center;
  color: var(--topBottomColor);
}
.banco-dados-main{
  display: flex;
  margin-top: 10vh;
}
.img-banco-dados{
  height: 85vh;
  width: 50%;
  background-image: url(/imgs/banco-dados/bd.jpg) ;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-banco-dados{
  width: 50%;
  background-color: #f2f200;
  color: var(--topBottomTextColor);
}
.content-banco-dados{
  display: flex; flex-direction: column;
  text-align: justify;
  gap: 10px;
  padding: 20px;
}
.title-banco-dados{
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  font-style: oblique;
  text-transform: uppercase;
  color: var(--topBottomColor);
  margin-top: 20vh;
}
.title-automacao{
  margin-top: 20vh;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  font-style: oblique;
  text-transform: uppercase;
  color: var(--topBottomColor);
}
.main-text-aut{
  margin-top: 15vh;
  display: flex;
}
.text-rob{
  display: flex; flex-direction: column;
  width: 50%; height: 60vh;
  justify-content: space-around;
  text-align: justify;
  padding: 20px;
  align-items: center;
}
.title-rob{
  display: flex;
  justify-content: center;
  color: var(--topBottomColor);
  font-size: larger;
  font-weight: 600;
}
.img-rob{
  width: 50%;
  background-image: url(/imgs/automacao-industrial/automacao-industrial-senai.jpeg);
  background-size: cover;
  background-position: center;
}
.container-imgs-aut{
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
.imgs-aut{
  width: 300px; height: 200px;
}
.imgs-aut-2{
  width: 250px;height: 200px;
}
.container-embarcados{
  display: flex;
  margin-top: 15vh;
}
.imgs-embarcados{
  width: 50%;
  display: flex; flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.img-embarc{
  width: 400px; height: 300px;
}
.text-embarcados{
  display: flex; flex-direction: column;
  width: 50%;
  padding: 20px;
  text-align: justify;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  gap: 20px;
}
.title-img-embarc{
  font-size: larger;
  font-weight: 500;
  font-style: oblique;
}
.title-embarc{
  color: var(--topBottomColor);
  font-size: larger;
  font-weight: 600;
}
.container-redes{
  display: flex; flex-direction: column;
  margin-top: 20vh;
}
.title-redes p{
  display: flex;
  justify-content: center;
  color: var(--topBottomColor);
  font-size: xx-large;
  font-weight: 700;
  font-style: oblique;
}
.icons-redes{
  display: flex;
  justify-content: space-around;
}
.invert{
  filter: invert();
}
.invert , .pics-redes{
  width: 300px;
  margin-top: 10vh;
}